/* src/components/Footer.css */
.footer {
  position: sticky; /* Change this to relative */
  width: 100%;
  background-color: #0738da;
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 100;
  bottom: 0;
  margin-top: auto;
}

/* Make sure the body height is at least 100% of the viewport */
body, html {
  height: 100%;
}

.content {
  min-height: 100vh; /* Ensures the content occupies at least the full screen */
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1; /* This pushes the footer to the bottom if there's little content */
}


.footer p {
  margin: 0;
  font-size: 14px;
  margin-left: 37%;
}

/* Center and adjust for mobile */
@media (max-width: 768px) {
  .footer {
    padding: 10px 0; /* Reduced padding for smaller screens */
  }

  .footer p {
    font-size: 12px; /* Smaller text for mobile */
  }
}
